.container {
  font-size: 20px;
  /* margin dite pari nai */
  border: 5px solid black;
}

.cart-heading {
  font-size: 26px;
  display: block;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: aliceblue;
  text-align: center;
  margin-bottom: 10px;
}
.price {
  padding: 10px 0;
}
.shipping-type {
}

.shopping-details {
  padding: 10px 0;
}
.product-heading {
  font-weight: bold;
  padding: 10px 0;
}
.btn-cart {
  background-color: black;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  padding: 10px;
  border: 0px;
}
.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}
