*{
    margin: 0;
    padding: 0;
}

.product{
    line-height: 1.5;
    width: 825px;
    margin: 0 auto;
    border: 4px solid black;
   

}

.main-heading{
    background-color: rgb(168, 162, 154);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    padding : 0 10px ;
    margin-bottom: 10px;

}
.price{
    font-weight: bold;
    text-transform: uppercase;
    float: left;

}

.shipping-type{
    text-transform: uppercase;
    color: rgb(178, 196, 212);
    margin-bottom: 20px;
    float: right;

}
.more-info:link,.more-info:visited{
    color: black;
    cursor: pointer;

}
.more-info:hover, .more-info:active{
    color: purple;
}

.product-details{
    margin-top: 20px;
    margin-bottom: 10px;
    clear: both;

}
.img-prod{
    float: left;
}

.product-info{
    float: left;
    width: 243px;
    margin-left: 40px;
}

.product-details-list{
    float: left;
    width: 240px;
    margin-left: 40px;
}


.ul-heading{
    font-weight: bold;
    text-transform: uppercase;
}

.product-list{
    margin-left: 20px;
    list-style: square;
}

.cart-btn{
    padding: 7px 15px;
    width: 100%;
    background-color: black;
    color: white;
    border: 0;
    text-transform: uppercase;
    font-weight: bold;
}

.cart-btn:hover{
    background-color: wheat;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}
