*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 20px;
}

.accordion{
    width: 700px;
    /* margin: 200px 150px; */
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.accordion-details{
    grid-column: 2;
}
.accordion-details p{
    line-height: 1.2;
    margin-bottom: 20px;
}

.accordion-details li{
    margin-left: 19px;
    
}
.accordion-details ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #868e96;
    font-size: 20px;

}

.number, .accordion-heading{
    color:#087f5b;
    font-weight: 500;
    font-size: 24px;
}

.icon{
    height: 24px;
    width: 24px;
    color: #087f5b;
}
.item{
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
    padding: 24px;
    display: grid;
    grid-template-columns: auto 1fr auto ;
    column-gap: 24px;
    row-gap: 32px;
    align-items: center;
}