.dark{
    background-color: black;
    color: white;
    padding: 20px;
}

.light{
    background-color: blanchedalmond;
    color: black;
    padding: 20px;
}

body{
    background-color: rgb(253, 253, 253);
}
