.grid {
    display: grid;
    column-gap: 3.6rem;

}

.grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
    grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
    grid-template-columns: repeat(5, 1fr);
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.login-border {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.login-box {
    background: #fff;
    min-height: 285px;
    border: 1px solid #e7e7e7;
    margin: 0;
    line-height: 23px;
    border-radius: 0;
    overflow: hidden;
}

.login-page-bottom {
    background: #f5f5f5;
    border: 1px solid #e7e7e7;
    border-top: 0;
    padding: 10px 20px;
    overflow: hidden;
    line-height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    padding: 9px 20px;
    background: #555;
    color: #fff;
    border-radius: 3px;
    border: none;
}

.login-page-bottom a {
    text-decoration: none;
    color: black;
}

.login-page-bottom a:hover {
    color: rgb(74, 74, 119);
    cursor: pointer;
}

.form-group {
    margin-bottom: 15px;
}


.form-group label {
    font-size: 12px;
    font-weight: normal;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.login-heading {
    padding-top: 12px;
    font-size: 16px;
    font-weight: bold;
}

.customer-p {
    padding-bottom: 12px;
    font-weight: bold;
}